html, body
{
  height: 100%;
  background-color: black;
}

a:hover{
	background-color:inherit;
}

a:focus{
	outline:none;
}

#contact{
	position:fixed;
	right:15%;
	color:white;
	font-size:1.3em;
	top:10px;
	background-color:black;
}

.page-header{
	margin-top: 50px;
}

a {
  color: #FBC47B;
  &:visited {
    color: #FBC47B;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
  &:focus{
    outline: none;
  }
}

#accordion{
	border:0;
	border-width:0;
	margin:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-o-border-radius:0;
	border-radius:0;
	padding:0;
}
	a.accordion-toggle {
		color:inherit;
		text-decoration:none;
		border:0;
		border-width:0;
		margin:0;
		-webkit-border-radius:0;
		-moz-border-radius:0;
		-o-border-radius:0;
		border-radius:0;
		padding:0;
		}

.panel{
	border-width:0;
	margin:10px 0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-o-border-radius:0;
	border-radius:0;
	padding:0;
}
.panel-body{
	color:white;
	background-color:black;
	font-size:2em;
	}

#wrap {
	min-height: 99%;
	height: auto !important;
	height:100%;
	margin: 0 auto -60px;
	padding: 0 0 60px;
        background-color:black;
}

.footer {
	background-color: #DFEFFB;
a {
  color: #337AB7;
  &:visited {
    color: #337AB7;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
  &:focus{
    outline: none;
  }

}

}

.container .credit {
	margin: 20px 0;
	font-size:1.5em;
}

.category{
	font-size: 5em;
	line-height: 1.2em;
	color:#FBEFDE;
	background-color:black;
	border:0;
	margin:0;
}

h1{
	color:white;
}

p{
	color:#FBC47B;
}
h2{
	padding-top:30px;
	color:#CBE9F0;
}
