<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Law of Things, PLLC</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="contact">Contact <a href="mailto:tristan@lawofthings.com">Tristan Hardy</a> for more information.</div>
	<div id="wrap">
		<%= yield %>
	</div>
	<footer class="footer">
		<div class="container">
			<p class="text-muted credit">©2015 Law of Things, LLC (<a href="mailto:tristan@lawofthings.com">Contact</a>)</p>
		</div>
	</footer>
</body>
</html>
